*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.header-container{
    background-color:#1f2937;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.header-bar,
.hero{
    display:flex;
    width:70%;
    justify-content:space-between;
    align-items:center;
}

.header-bar{
    padding:16px 0;
}

.hero{
    min-height:450px;

}

.top-nav{
    display:flex;
    list-style:none;
    gap:16px;
    font-size:18px;
}

.title{
    display:flex;
    flex-direction:column;
    align-items:self-start;
    width:350px;
    gap:12px;
}

.image-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:16px;
}


a{
    text-decoration:none;
    color:#e5e7eb;
}

.title p{
    color:#f9faf8;
    font-size:48px;
    font-weight:900;
}

.title .title-subtext{
    color:#e5e7eb;
    font-size:18px;
}

.header-bar h2{
    color:#f9faf8;
    font-size:24px; 
}


button{
    background-color:#3882f6;
    padding:6px 32px;
    color:#fff;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;

}

img{
    object-fit:cover;
    border-radius:8px;
    box-shadow: 5px 5px 5px black;
}

